backports.tarfile==1.2.0
build==1.2.1
cachetools==5.4.0
certifi==2024.7.4
cffi==1.17.0
charset-normalizer==3.3.2
contourpy==1.2.1
cryptography==44.0.1
cycler==0.12.1
docutils==0.21.2
flake8==7.1.1
fonttools==4.53.1
google-auth==2.33.0
idna==3.7
immutabledict==4.2.0
importlib_metadata==8.2.0
jaraco.classes==3.4.0
jaraco.context==5.3.0
jaraco.functools==4.0.2
jeepney==0.8.0
keyring==25.3.0
keyrings.google-artifactregistry-auth==1.1.2
kiwisolver==1.4.5
markdown-it-py==3.0.0
matplotlib==3.9.2
mccabe==0.7.0
mdurl==0.1.2
more-itertools==10.4.0
nh3==0.2.18
numpy==2.0.1
packaging==24.1
pillow==10.4.0
pkginfo==1.11.1
pluggy==1.5.0
prettytable==3.11.0
pyasn1==0.6.0
pyasn1_modules==0.4.0
pycodestyle==2.12.1
pycparser==2.22
pyflakes==3.2.0
Pygments==2.18.0
pyparsing==3.1.2
pyproject_hooks==1.1.0
python-dateutil==2.9.0.post0
readme_renderer==44.0
requests==2.32.4
requests-toolbelt==1.0.0
rfc3986==2.0.0
rich==13.7.1
rsa==4.9
SecretStorage==3.3.3
six==1.16.0
tqdm==4.66.5
twine==4.0.2
urllib3==2.2.2
wcwidth==0.2.13
zipp==3.20.0
